<h1>Unsplash Photo Search</h1>

<%= form_with url: root_path, method: :get, local: true do |form| %>
  <%= form.label :query, "Search for photos:" %><br>
  <%= form.text_field :query, value: params[:query], placeholder: "e.g. mountains" %>
  <%= form.submit "Search" %>
<% end %>

<% if @error.present? %>
  <p style="color: red;"><%= @error %></p>
<% end %>

<% if @photos.any? %>
  <h2>Results:</h2>
  <div style="display: flex; flex-wrap: wrap;">
    <% @photos.each do |photo| %>
      <div style="margin: 10px;">
        <img src="<%= photo['urls']['thumb'] %>" alt="<%= photo['alt_description'] || 'Photo' %>" />
        <p>
          Photo by
          <a href="<%= photo['user']['links']['html'] %>" target="_blank" rel="noopener">
            <%= photo['user']['name'] %>
          </a>
        </p>
      </div>
    <% end %>
  </div>
<% end %>
